// 標籤的基本樣式
*,*::before, *::after{
    box-sizing: border-box;
    // outline: 1px solid gray;
}
body{
    color: #212529;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-family: "Noto Sans TC",sans-serif;
    color: $neutral-900;
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: $neutral-900;
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}
h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}
h4{
    font-size:24px;
    font-weight: 700;
    line-height: 1.2;
}
h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
h6{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

@media(max-width: 767px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size:20px;
    }
    h5{
        font-size: 16px;
    }
}