<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <nav class="mb-24 footer-nav">
                <section class="d-flex aic row">
                    <a href="index.html" class="mr-auto col-10 logo">
                        <img src="../assets/images/desktop/logo.svg" alt="logo-image">
                    </a>
                    <ul class="d-flex nav-menu">
                        <li class="col-1 mr-40"><a href="product-list.html">商品列表</a></li>
                        <li class="col-1"><a href="brand-intro.html">品牌故事</a></li>
                    </ul>
                </section>
            </nav>
            <section class="footer-copyright">
                <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </section>
        </div>
    </div>
</footer>