<nav class="nav">
    <div class="container">
        <div class="row aic">
            <div class="mr-auto col-10 d-flex aic">
                <a href="index.html" class="mr-48 logo">
                    <img src="../assets/images/desktop/logo.svg" alt="logo-image">
                </a>
                <ul class="d-flex nav-menu">
                    <li class="mr-40"><a href="product-list.html">商品列表</a></li>
                    <li><a href="brand-intro.html">品牌故事</a></li>
                </ul>
            </div>
            <div class="col-2 d-flex jce aic avatar">
                <a href="#"><i class="bi bi-person"></i></a>
                <!-- 連結到 登入頁面 -->
            </div>
        </div>
    </div>
</nav>