.call-to-action{
    background-color: $primary-200;
    padding: 24px 0;
}
.call-to-action .container .cta-btn{
    display: block;
    width: fit-content;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: $neutral-900;
    padding: 12px 24px;

}
.call-to-action .container .cta-btn:hover{
    background-color: $neutral-600;
    transform: scale(1.2)
}

@media(max-width: 767px){
    .call-to-action .container .cta-btn{
        padding: 8px 16px;
    }
}