.container-product-list{
    padding-left: 12px;
    padding-right: 12px;
}
@media(max-width: 376px){
    .container-product-list{
        padding-left: 8px;
        padding-right: 8px;
    }
}

/* .product-list */
.container-product-list a{
    display: block;
}

.container-product-list main .col-2{
    width: 196px;
}
.container-product-list main .main-menu .main-menu-item a{
    font-weight: 500;
    color: $neutral-900;
    text-decoration: none;
    padding: 10px 0;
    &:hover{
        color: $primary-400;
    }
    &.active{
        background-color: $neutral-200;
    }
}


@media(max-width: 767px){
    .container-product-list main .col-2{
    display: none;
    }
}

.container-product-list main .col-10{
    flex: 1;
    margin-left: -12px;
    margin-right: -12px;
}
.product-list-card a{
    text-decoration: none;
    color: $neutral-900;
}
.container-product-list main .content .product-list-card a img{
    max-width: 342.67px;
    width: 100%;
    height: auto;
}
.container-product-list main .content .product-list{
    flex-wrap: wrap;
}
.container-product-list main .content .product-list-card{
    margin-left: 12px;
    margin-right: 12px;
}

.container-product-list main .content .shoes-10th{
    display: none;
}


@media(max-width: 767px){
    .container-product-list main .content .product-list-card a img{
        min-width: 169.5px;
        min-height: 169.5px;
    }
    .container-product-list main .col-10{
        margin-left: -6px;
        margin-right: -6px;
    }
    .container-product-list main .content .product-list-card{
        margin-left: 6px;
        margin-right: 6px;
    }
    .container-product-list main .content .shoes-10th{
        display: block;
}
}

/* .pagination */
.container-product-list main .content .pagination li a{
    display: block;
    text-decoration: none;
}
.container-product-list main .content .pagination .pagination-chevron a{
    display: block;
    color: $neutral-900;
    padding: 10px;
    &:hover{
        background-color: $neutral-100;
    }
    &:focus{
        background-color: $primary-300;
    }
    &.active{
        background-color: $neutral-200;
    }
}
.container-product-list main .content .pagination .pagination-chevron a i{
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
}
.container-product-list main .content .pagination .pagination-page a{
    color: $neutral-900;
    padding: 8px 15px;
}
.container-product-list main .content .pagination .pagination-page a:hover{
    background-color: $neutral-100;
}
.container-product-list main .content .pagination .pagination-page a:focus{
    background-color: $primary-300;
}
.container-product-list main .content .pagination .pagination-more-pages a{
    color: $neutral-900;
    &:hover{
        background-color: $neutral-100;
    }
    &:focus{
        background-color: $primary-300;
    }
    &.active{
        background-color: $neutral-200;
    }
}